.root{
    -fx-background-color: #000000;
}
.label {
	fx-font-size: 20;
		-fx-font-family: 'Comic Sans MS';
		-fx-text-fill: #136B15;
		-fx-alignment: center;
}

#yesButton {
-fx-background-color: #136B15;
     -fx-text-fill: "black";
}

#noButton {
-fx-background-color: #6E1313;
     -fx-text-fill: "black";
}
